* {
    box-sizing: border-box;
}
body {
    font-family: 'Arial', 'Helvetica', 'Sans-Serif';
}

.headerContainer {
    max-width:900px;
    margin:40px auto;
}

.container {
    display: flex;
    max-width: 900px;
    margin:auto;
}
.container .leftSide {
    flex:1;
    margin-right:40px;
    background-color: blue;
}

.container .rightSide {
    flex:1;
    margin-left:40px;
    background-color: red;
}